$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1600px;
$desktopXXXL: 1920px;

$fuentePrincipal: 'Roboto', sans-serif;

$primario: #e85058;
$secundario: #455a64;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;